<div class="col-sm-8 col-sm-offset-2 push-down">
  <h1 class="center"> Update your Profile:</h1>

  <%= form_for (@profile) do |f| %>

  <div class="form-group col-sm-12">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: "form-control" %>
  </div>

  <div class="form-group col-sm-12">
    <h3><%= f.submit "Submit Changes", class: "btn button-teal btn-lg btn-block" %></h3>
    <% end %>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <br><br><p class="center"><%= link_to "Back to profile", profile_path(current_user.id)%><p>
  </div>
</div>
