<div class="container">

  <div class="row">
    <div class="col-sm-6 push-down">
      <h1><%= @user.name %></h1>
      <% if @profile.city %>
        <h5><%= @profile.city %>, <%= @profile.state %></h5>
      <% end %>
    </div>
  </div>

  <div class="row well">
    <div class="col-sm-4">
      <br>
      <div class="rounded">
        <%= image_tag(@user.profile.avatar.url(:medium), class: "profile_avatar") %>
      </div>
      <br>
      <% if current_user == @user %>
        <%= form_for (@profile) do |f| %>
        <div class="form-group">
          <h4>Update your profile photo</h4>
          <%= f.file_field :avatar %>
        </div>
        <%= f.submit "Upload Image", class: "btn btn-md button-teal" %>
        <% end %>
      <% end %>
      <br>
      <h4>About:</h4>
      <p>(hard-coded filler for now...) I'm always up for a good dark beer, whether it's homebrew or commercial.</p>
      <h4>Favorite Beers:</h4>
      <p> Stouts, porters, anything dark and interesting!</p>
      <h4>Homebrewer? </h4>
      <p>No, but I live with one.</p>
      <h4>Kegerator?</h4>
      <p>Of course!</p>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <ul id="beers">
        <h3 class="center"> <%= @user.name %>'s currently sharing:</h3><br>
        <% if @profile.beers.any? %>
          <% @profile.beers.each do |beer| %>
            <%= render :partial => '/beers/beer', locals: {:@beer => beer, :@profile => @profile, :@user => User.find(@profile.user_id) }%>
          <% end %>
        <% else %>
          <br><p class="center" id="no_beers_msg"><%= @user.name %> isn't sharing any beers right now.</p>
        <% end %>
        </ul>
        <% if current_user %>
          <% if @user.id == current_user.id %>
            <div class="col-sm-11 col-sm-offset-1">
              <%= link_to "Share a new beer", new_profile_beer_path(@profile.id), remote: true, :class => "btn btn-lg btn-block button-blue", id: "new_beer_link" %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
