<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <h1><%= @user.name %></h1>
      <h5><%= @profile.city %>, <%= @profile.state %></h5>
      <h5>Richmond neighborhood </h5><br>
    </div>
  </div>

  <div class="row well">
    <div class="col-sm-4">
      <br>
      <div class="rounded">
        <%= image_tag(@user.profile.avatar.url(:medium), class: "profile_avatar") %>
      </div>
      <br>
      <% if current_user == @user %>
        <%= form_for (@profile) do |f| %>
        <div class="form-group">
          <h4>Update your Avatar</h4>
          <%= f.file_field :avatar %>
        </div>
        <%= f.submit "Upload Image", class: "btn btn-md button-teal" %>
        <% end %>
      <% end %>
      <br>
      <h4>About:</h4>
      <p>I'm always up for a good dark beer, whether it's homebrew or commercial.  We've got a keg of Rogue on tap at all times, hit me up for a growler fill!</p>
      <h4>Favorite Beers:</h4>
      <p> Stouts, porters, anything dark and interesting!</p>
      <h4>Homebrewer? </h4>
      <p>No, but I live with one.</p>
      <h4>Kegerator?</h4>
      <p>Of course!</p>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <h3 class="center"> <%= @user.name %>'s currently sharing:</h3><br>
      <% if @profile.beers.any? %>
        <ul id="beers">
          <% @profile.beers.each do |beer| %>
            <%= render :partial => '/beers/beer', locals: {:@beer => beer, :@profile => @profile, :@user => User.find(@profile.user_id) }%>
          <% end %>
      <% else %>
        <br><p class="center"><%= @user.name %> isn't sharing any beers right now.</p>
      <% end %>
        <% if current_user %>
          <% if @user.id == current_user.id %>
            <div class="col-sm-8 col-sm-offset-2">
              <%= link_to "Share a new beer", new_profile_beer_path(@profile.id), :class => "btn btn-lg btn-block button-blue" %>
            </div>
          <% end %>
        <% end %>
        </ul>
    </div>
  </div>
</div>
