<li>
  <div class="well col-sm-8 col-sm-offset-1">
    <h5><span class="bold"><%= link_to @user.name, profile_path(@comment.user_id) %></span> says:</h5>
    <h5>"<%= @comment.content %>"</h5>
    <%= time_tag @comment.created_at %><br>
    <% if current_user %>
      <% if @comment.user_id == current_user.id %>
        <%= link_to 'Edit Comment', edit_post_comment_path(@post, @comment), :class => "btn btn-sm button-tan"  %>
        <%= link_to 'Delete Comment', post_comment_path(@post, @comment), :data => {:confirm => "Are you sure?", :method => "delete"}, :class => "btn btn-sm button-red" %><br>
      <% end %>
    <% end %>
  </div>
</li>
