<div class="col-xs-12">
  <%= form_for [@post, @comment], html: {id: :new_comment_form}, remote: true do |f| %>
  <h2> Add a Comment to: "<%= @post.title %>" </h2>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content,  size: "50x6", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <%= f.submit 'Submit', :class => "btn btn-lg button-teal"%>
  <% end %><br><br>
</div>
