<div class="media">
  <div class="media-left">
    <%= link_to image_tag(conversation.originator.profile.avatar.url(:thumb)) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      Initiated by: <%= conversation.originator.name %> <br>
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    Most recent message: <%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "View Conversation", conversation_path(conversation)  %>
  </div>
</div>
