<div class="container">
  <h4 class="center italic push-down"> ~ This is a private conversation between <%= conversation.originator.name %> and <%= @beer.user.name %> ~</h4>
  <div class="row push-down-lite">
    <div class="col-md-4">
      <%= render :partial => '/beers/small_beer', locals: {:@beer => @beer, :@user => current_user } %>
      <% if conversation.is_trashed?(current_user) %>
        <h4 class="indent"><%= link_to 'Un-archive', untrash_conversation_path(conversation), class: 'btn btn-lg btn-block button-tan', method: :post %></h4>
      <% else %>
        <h4 class="indent"><%= link_to 'Archive conversation', trash_conversation_path(conversation), class: 'btn btn-lg btn-block button-tan', method: :post,
                      data: {confirm: 'Are you sure?'} %></h4>
      <% end %>
        <h4 class="indent"><%= link_to 'Back to Inbox', mailbox_inbox_path, class: 'btn btn-lg btn-block button-teal' %></h4>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'messages' %>
        </div>
        <div class="panel-footer">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Add to the conversation!", rows: 4, class: "form-control" %>
            </div>
            <h4><%= f.submit "Send", class: 'btn btn-lg button-teal pull-left' %></h4>
        <% end %>
        <div class="clearfix"></div>
      </div>
      </div>
    </div>
  </div>
</div>
