<div class="indent">
  <div class="row well white-back">
    <h4><span class="bold teal"><%= @beer.name %></span><span class="smaller"> shared by <%= link_to @beer.user.name, profile_path(@beer.user), class: "italic" %></span></h4>
    <p>"<%= @beer.description %>"</p>
    <p><%= @beer.style.name %> from <% if @beer.homebrew %>
    Homebrew!
    <% else %>
    <%=@beer.brewery_name %></p>
    <% end %>
    <p>Brewed on: <%= @beer.brew_date %></p>
  </div>
</div>
