<div class="container">
  <%= render 'layouts/errors', :object => @beer %>

  <h1 class="center">Edit <%= @beer.name %></h1>

  <div class="col-xs-12">
    <%= form_for [@profile, @beer] do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "% abv (Alcohol by volume)" %>
      <%= f.number_field :abv, :class => 'text_field form-control', :step => 0.1 %>
    </div>
    <div class="form-group">
      <%= f.label :style_id %>
      <%= f.collection_select(:style_id, @styles, :id, :name, {}, {class: "form-control"}) %>
    </div>
    <div class="form-group">
      <% options = ([['22 oz. bottles', '22 oz. bottles'], ['12 oz. bottles', '12 oz. bottles'], ['Assorted bottles', 'Assorted bottles'], ['Growler', 'Growler'], ['Growlette/Howler', 'Growlette/Howler']]) %>
      <%= f.label :container_type %>
      <%= f.select(:container_type, options_for_select(options), {}, {class: "form-control"})  %>
    </div>
    <div class="form-group">
      <%= f.label :brew_date %>
      <%= f.date_field :brew_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Check here if it's homebrew" %>
      <%= f.check_box :homebrew %>
    </div>
      <div class="form-group">
        <%= f.label "Or if it's from a brewery, which one?" %>
        <%= f.text_field :brewery_name, :class => "form-control" %>
      </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description,  size: "50x4", :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :profile_id, :value => @profile.id %>
    </div>
    <%= f.submit 'Submit', :class => "btn btn-lg button-teal"%>
    <% end %><br><br>
  </div>
</div>
