<div class="container">
  <div class="row">
    <div class="col-sm-6 push-down">
      <h3 class="indent">Recent postings</h3>
      <ul>
        <% @recent_beers.each do |beer| %>
          <li>
            <div class="row push-down-lite well edge white-back">
              <div class="col-sm-8">
                <h4><span class="bold teal"><%= beer.name %></span><span class="italic smaller"> shared by <%= link_to beer.user.name, profile_path(beer.user) %></span></h4>
                <p>"<%= beer.description %>"</p>
                <%= beer.style.name %> from <% if beer.homebrew %>
                Homebrew! <% else %><%=beer.brewery_name %><% end %></p>
              </div>
              <div class="col-sm-4">
                <h4><%= link_to "Request", new_conversation_path, class: "btn btn-sm button-tan" %></h4>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-6 push-down map-col">
      <h3>Free beer is all around you!</h3>
        <div class="push-down-lite mapping well white-back">
          <div id="map"></div>
          <p class="push-down-lite center">Your privacy is important- we won't share your address.</p>
        </div>

      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(11);
        });
      </script>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="indent">
        <h3> Search for Beer</h3>
          <%= form_tag(beers_path, :method => "get", id: "search-form", class: "form-inline") do %>
            <div class="form-group">
              <%= label_tag "Style" %>:
              <%= select_tag :style_id, options_from_collection_for_select(Style.all, :id, :name, params[:style_id]), include_blank: true, class: "form-control" %>
              <%= submit_tag "Go", class: "btn btn-sm button-tan" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 push-down bottom">
      <% if @styled_beers.present? %>
        <h4 class="indent">Search Results:</h4>
        <ul>
          <% @styled_beers.each do |beer| %>
            <li>
              <div class="row push-down-lite well edge white-back">
                <h4><span class="bold teal"><%= beer.name %></span><span class="italic smaller"> shared by <%= link_to beer.user.name, profile_path(beer.user) %></span></h4>
                <p>"<%= beer.description %>"</p>
                <%= beer.style.name %> from <% if beer.homebrew %>
                Homebrew!
                <% else %>
                <%=beer.brewery_name %>
                <% end %></p>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% if params[:style_id] %>
        <br><p class="indent">Uh-oh, nobody's sharing any beers of that style right now.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
