<div class="container">
  <div class="col-sm-5 push-down">
    <h2>Recent beer postings:</h2>
    <ul>
      <% @beers.each do |beer| %>
        <li>
          <div class="row well beer-tile">
            <h4><span class="bold blue"><%= beer.name %></span></h4>
            <p>"<%= beer.description %>"</p>
            <%= beer.style.name %> from <% if beer.homebrew %>
            Homebrew!
            <% else %>
            <%=beer.brewery_name %>
            <% end %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6 col-sm-offset-1 push-down">
    <h2>Free beer is all around you!</h2>
    <div>
      <div id="map"></div>
    </div>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    </script>
  </div>
</div>
