<div class="col-xs-8">
  <%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>:
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :author %>:
    <%= f.text_field :author, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>:
    <%= f.radio_button :category_id, "1" %>
    <%= f.label :category_id_beer, "Beer" %>
    <%= f.radio_button :category_id, "2" %>
    <%= f.label :category_id_news, "News" %>
    <%= f.radio_button :category_id, "3" %>
    <%= f.label :category_id_members, "Members" %>
    <%= f.radio_button :category_id, "4" %>
    <%= f.label :category_id_brewing, "Brewing" %>
  </div><br>
  <div class="form-group">
    <%= f.label :content %>:
    <%= f.text_area :content,  size: "50x6", :class => "form-control" %>
  </div>
  <%= f.submit 'Submit', :class => "btn btn-primary"%>
  <% end %>
</div>
