<div class="top top-news">
  <div class="welcome-small">
    <h1 class="center">Swap News</h1>
  </div>
</div>

<div class="container push-down">
  <div class="col-sm-12">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div class="row">
            <div class="post-image rounded-post">
              <%= image_tag post.image.url(:medium) %>
            </div>
            <h3><%= link_to post.title, post_path(post), :id => post.title %></h3>
            <h5>By <%= post.user.name %>, <%= time_ago_in_words(post.created_at) %> ago in <%= post.category.name %> (<%= post.comments.length %> comments)</h5>
            <p><%= truncate(post.content, separator: ' ', length: 1000, omission: '... (continued)')%><p><hr>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% if current_user %>
    <% if current_user.admin %>
    <div class="col-sm-4 col-sm-offset-4">
      <h3><%= link_to "Create New Post", new_post_path, :class => "btn btn-lg btn-block button-tan" %></h3><br><br>
    </div>
    <% end %>
  <% end %>
</div>
