<div class="top top-news">
  <div class="padding-top">
    <h1 class="push-way-down center blog">Swap News</h1>
  </div>
</div>

<div class="container">
  <div class="col-sm-12 push-down">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div class="row">
            <div class="post-image-small rounded-post">
              <%= image_tag post.image.url(:medium) %>
            </div>
            <h2><%= link_to post.title, post_path(post), :id => post.title %></h2>
            <h4>by <%= post.user.name %><br></h4>
            <p class="small"><%= time_ago_in_words(post.created_at) %> ago in <%= post.category.name %> (<%= post.comments.length %> comments)</p>
            <p><%= truncate(post.content, separator: ' ', length: 1000, omission: '... (continued)')%><p><hr>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% if current_user %>
    <% if current_user.admin %>
    <div class="col-sm-4 col-sm-offset-4 bottom">
      <h3><%= link_to "Create New Post", new_post_path, :class => "btn btn-lg btn-block button-tan" %></h3><br><br>
    </div>
    <% end %>
  <% end %>
</div>
