<h1><%= @post.title %></h1>
<h4>Posted <%= time_ago_in_words(@post.created_at) %> ago in <%= @post.category.name %> (<%= @post.comments.length %> comments)</h4>
<p><%= @post.content %><p>
<h4>Comments for: <%= @post.title %></h4>
<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <%= comment.content %>
      <%= comment.author %>
      <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment) %>
      <%= link_to 'Delete Comment', post_comment_path(@post, comment), :data => {:confirm => "Are you sure?", :method => "delete"} %><br>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments yet. Get the discussion started!</p>
<% end %>

<%= link_to 'Add a Comment', new_post_comment_path(@post) %><hr>

<%= link_to 'Edit Post', edit_post_path(@post) %><br>
<%= link_to 'Delete Post', post_path(@post), :data => {:confirm => "Are you sure?", :method => "delete"} %><br>

<%= link_to "Return to blog", posts_path %>
